*.o
*.a
*.d
*.out*
*.DS_Store
.sample
webserv
*/*.txt
webserv
src/Makefile
src/*/main.cpp
/obj/**
*.txt
client_app
/uploadPath/*
!/uploadPath/.gitkeep
/uploadAnotherPath/*
!/uploadAnotherPath/.gitkeep
test
webserv_debug

*.plist*